body{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	color: #616c84;
	background: #ffffff;
	line-height: 1.7em;
	padding: 0;
	margin: 0;
	}

p{
	margin-top: 0;
	padding-top: 0;
	}

article{
	width: 600px;
	height: 600px;
	background: #f2f2f2;
	margin: 80px auto 40px auto;
	position: relative;
	-webkit-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-ms-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-moz-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	}

.pieces{
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 100;
	-webkit-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-ms-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-moz-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	perspective: 1000;
	}

#piece-1{
	top: 0;
	left: 0;
	background: url(img1.jpg);
	}

#piece-2{
	top: 0;
	left: 200px;
	background: url(img2.jpg);
	}

#piece-3{
	top: 0;
	left: 400px;
	background: url(img3.jpg);
	}

#piece-4{
	top: 200px;
	left: 0;
	background: url(img4.jpg);
	}

#piece-5{
	top: 200px;
	left: 200px;
	background: url(img5.jpg);
	}

#piece-6{
	top: 200px;
	left: 400px;
	background: url(img6.jpg);
	}

#piece-7{
	top: 400px;
	left: 0;
	background: url(img7.jpg);
	}

#piece-8{
	top: 400px;
	left: 200px;
	background: url(img8.jpg);
	}

#piece-9{
	top: 400px;
	left: 400px;
	background: url(img9.jpg);
	}

p{
	margin: 20px auto;
	width: 1020px;
	text-align: center;
    font-family: "Avenir";
    font-size: 25px;
	}

.glow{
	z-index: 101;
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
  	box-shadow: 0px 0px 6px 0px #000000;
  	transform: scale(1.1);
	}

@-webkit-keyframes animate-guage {
	0%   { transform: scale(1.04); }
	50%   { transform: scale(1.06); }
	100%  { transform: scale(1.04); }
	}

.glow-2{ -webkit-transform: rotateX(360deg); }

@-webkit-keyframes animate-guage-2 {
	0%   { transform: scale(1); }
	50%   { transform: scale(1.02); }
	100%  { transform: scale(1); }
	}

.button {
  background-color: #6b6b6b;
  border: none;
  color: white;
  position: absolute;
  margin-top: 80px;
  margin-left: 300px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}